@charset 'UTF-8';
html,body,ul,li,p,a
    margin 0
    padding 0
    font-size 16px
    font-family "Microsoft Yahei","Arail","sans-seri"
html,body
    width 100%
    height 100%
    overflow hidden
user-select()
    -moz-user-select none
    -webkit-user-select none
    -ms-user-select none
.border
    border 2px dotted #fff
.glasses-system
    width 80%
    height 80%
    min-width 600px
    border 5px solid #ccc
    margin 5% auto
    position relative
    overflow hidden
    .preview
        height 100%
        width 50%
        border 2px orange solid
        box-sizing border-box
        left 0
        top 0
        background-color #2e2e2e
        overflow hidden
        position absolute
        user-select()
        .mask
            width 100%
            height 100%
            position absolute
            left 0
            top 0
        .preview-pic
            display block
            margin 16px auto
        .translate
            width 100%
            background-color rgba(0,0,0,.3)
            line-height 1.5rem
            text-align center
            color #fff
            position absolute
            bottom 2.4rem
        .horizontal 
            &:before
                content "左移"
            &:after
                content "右移"
        .vertical
            transform-origin 0% 100%
            transform rotate(90deg) translateX(-100%)
            &:before
                content "上移"
            &:after
                content "下移"
                
    .btns
        width 50%
        background-color rgba(0,0,0,.5)
        position absolute
        bottom 0
        left 0
        text-align center
        z-index 3
        user-select()
        .btn
            display inline-block
            color #fff
            width 8rem
            line-height 2.5rem 
            text-align center
            border-radius 5px
            background-color #009900
            transition all .15s ease-out
            box-shadow -1px -1px 2px 1px rgba(0,0,0,0.4) inset
            cursor pointer
            &:hover
                background-color #006600
                color #eee
            +.btn
                margin-left 15px
    .goods
        width 50%
        height 100%
        background-color #f8ecd2
        float right  
        position relative
        overflow hidden
        .goods-list
            width 200%
            height 100%
            padding-top 10px
            box-sizing border-box
            position absolute
            top 0
            left 0
            transition left .8s ease-in-out
            .page
                width 50%
                height 100%
                text-align center
                overflow auto
                float left
.glasses 
    display inline-block
    width 157.8*0.9px
    height 74*0.9px
    background-color #fff
    margin 5px 4px
    border-radius 10px
    cursor pointer
    z-index 2
    &:hover
        box-shadow 0px 1px 5px rgba(0,0,0,.4)
for n in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
    .glasses_{n}
        background-image url('../imgs/glasses_'+n+'.png')
        background-repeat no-repeat
        background-size contain
.pageGroup
    width 50%
    height 10%
    position absolute
    bottom 0
    right 0
    text-align center
    .pageBtn
        display inline-block
        width 0.8rem
        height 0.8rem
        background-color #dce3e2
        border-radius 50%
        margin-right 10px
        cursor pointer
    .active
        background-color #899499
.adjustment
    width 157.8px
    height 74px
    cursor move
    resize both
    overflow auto
.arrow
    width 80px
    height 80px
    position absolute
    cursor url('../imgs/rotate.png'),auto
